@import url('https://fonts.googleapis.com/css2?family=Tahoma:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://cdn.discordapp.com/attachments/1098280744662605995/1122980452207177848/5d5d22157c879ebcd774383c404d1aff_-_mountain-range-pacific-coast_1.jpg');
  --background-image-blur: 16px;
  --background-image-size: cover;
  --background-image-position: top left;
  --popout-image: var(--background-image);
  --popout-image-blur: 5px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: var(--background-image);
  --overlay-image-blur: 30px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.42;
  --left-brightness: 0.28;
  --middle-brightness: 0.16;
  --right-brightness: 0.24;
  --overlay-brightness: 0.24;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 51,158,255;
  --tint-brightness: 0.04;
  --font: Tahoma;
  --window-padding: 20px;
  --window-roundness: 0px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


